<!DOCTYPE html>
<html>

<head>

    <title>AI HelpDesk</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    <div class="cyber-bg">
        <div class="grid"></div>
        <div class="glow"></div>
        <div class="particles"></div>
    </div>
    <div class="bg-animation"></div>

    <nav id="navbar">

        <div class="logo">
            <div class="ai-logo">AI</div>
            <span>HelpDesk</span>
        </div>

    </nav>

    <div class="main">

        <div class="chat-card">

            <div class="chat-area" id="chat">
                <div class="robot-intro" id="robotIntro">

                    <div class="robot-head">
                        <div class="eye"></div>
                        <div class="eye"></div>
                    </div>

                    <h2 class="robot-text">Hello My Friend… How can I assist you today?</h2>

                </div>
            </div>

            <div class="input-area">

                <input id="question" placeholder="Ask your technical issue...">
                <button onclick="sendMessage()" class="send-btn">
                    ➤
                </button>

            </div>

        </div>

    </div>

    <footer>
        © 2026 AI HelpDesk Expert System
    </footer>

    <script>

async function sendMessage(){

let input = document.getElementById("question")
let message = input.value

if(message.trim() === "") return

let chat = document.getElementById("chat")

// remove intro robot on first message
let intro = document.getElementById("robotIntro")
if(intro) intro.remove()

chat.innerHTML += `<div class="user-msg">${message}</div>`

input.value=""

let response = await fetch("/chat",{
method:"POST",
headers:{
"Content-Type":"application/json"
},
body: JSON.stringify({message:message})
})

let data = await response.json()

chat.innerHTML += `<div class="bot-msg">${data.reply}</div>`

chat.scrollTop = chat.scrollHeight

}

document.getElementById("question").addEventListener("keypress",function(e){
if(e.key==="Enter"){
sendMessage()
}
})

</script>

</body>

</html>