<!DOCTYPE html>
<html>
<head>
<title>Signup</title>

<style>
body{
background:black;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:sans-serif;
}

.box{
background:rgba(255,255,255,0.05);
padding:40px;
border-radius:15px;
backdrop-filter:blur(15px);
box-shadow:0 0 20px cyan;
}

input{
display:block;
margin:10px 0;
padding:10px;
background:black;
border:1px solid cyan;
color:white;
}

button{
padding:10px 20px;
background:cyan;
border:none;
cursor:pointer;
}

a{
color:cyan;
}
</style>

</head>

<body>

<form class="box" method="POST">

<h2>Create Account</h2>

<input name="username" placeholder="Username" required>
<input name="password" placeholder="Password" required>

<button>Signup</button>

<p>Already have account? <a href="/login">Login</a></p>

</form>

</body>
</html>